@charset "UTF-8";

.page2 {
	font-family: 'Noto Sans KR', sans-serif;
	padding-top: 100px;
}

.intext {
	text-align: top;
}

.introduce img {
    width: 400px;
    height: 700px;
    object-fit: cover;
    float: left;
    margin-right: 50px
}
