@charset "UTF-8";

figure.portfolio {
  position: relative;
  overflow: hidden;
  margin: 100px;
  min-width: 380px;
  max-width: 380px;
  height: 380px;
  width: 100%;
  color: #ffffff;
  text-align: center;
  font-size: 16px;
  background-color: #000000;
  float : left;
}
figure.portfolio *,
figure.portfolio *:before,
figure.portfolio *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.55s ease;
  transition: all 0.55s ease;
}
figure.portfolio img {
  width: 380px;
  height: 380px;
  max-width: 100%;
  backface-visibility: hidden;
  vertical-align: center;
  opacity: 0.9;
}
figure.portfolio .title {
  position: absolute;
  top: 58%;
  left: 25px;
  padding: 5px 10px 10px;
}
figure.portfolio .title:before,
figure.portfolio .title:after {
  height: 2px;
  width: 400px;
  position: absolute;
  content: '';
  background-color: #ffffff;
}
figure.portfolio .title:before {
  top: 0;
  left: 10px;
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
}
figure.portfolio .title:after {
  bottom: 0;
  right: 10px;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
}
figure.portfolio .title div:before,
figure.portfolio .title div:after {
  width: 2px;
  height: 300px;
  position: absolute;
  content: '';
  background-color: #ffffff;
}
figure.portfolio .title div:before {
  top: 10px;
  right: 0;
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
}
figure.portfolio .title div:after {
  bottom: 10px;
  left: 0;
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
}
figure.portfolio h2,
figure.portfolio h4 {
  margin: 0;
  text-transform: uppercase;
}
figure.portfolio h2 {
  font-weight: 400;
}
figure.portfolio h4 {
  display: block;
  font-weight: 700;
  background-color: #ffffff;
  padding: 5px 10px;
  color: #000000;
}
figure.portfolio figcaption {
  position: absolute;
  bottom: 42%;
  left: 25px;
  text-align: left;
  opacity: 0;
  padding: 5px 60px 5px 10px;
  font-size: 0.8em;
  font-weight: 500;
  letter-spacing: 1.5px;
}
figure.portfolio figcaption p {
  margin: 0;
}
figure.portfolio a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
figure.portfolio:hover img,
figure.portfolio.hover img {
  zoom: 1;
  filter: alpha(opacity=35);
  -webkit-opacity: 0.35;
  opacity: 0.35;
}
figure.portfolio:hover .title:before,
figure.portfolio.hover .title:before,
figure.portfolio:hover .title:after,
figure.portfolio.hover .title:after,
figure.portfolio:hover .title div:before,
figure.portfolio.hover .title div:before,
figure.portfolio:hover .title div:after,
figure.portfolio.hover .title div:after {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}
figure.portfolio:hover .title:before,
figure.portfolio.hover .title:before,
figure.portfolio:hover .title:after,
figure.portfolio.hover .title:after {
  -webkit-transition-delay: 0.15s;
  transition-delay: 0.15s;
}
figure.portfolio:hover figcaption,
figure.portfolio.hover figcaption {
  opacity: 1;
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}